
body{
    margin-top:100px;
    background:#eee;
    position:relative;
 
}

.invoice {
    background: #fff;
    padding: 50px;
    border-radius: 10px;
}

.invoice-company {
    font-size: 50px
}

.invoice-header {
    margin: 0 -20px;
    background: #f0f3f4;
    padding: 30px
}

.invoice-date,
.invoice-from,
.invoice-to {
    display: table-cell;
    width: 8%
}

.invoice-from,
.invoice-to {
    padding-right: 20px
}

.invoice-date .date,
.invoice-from strong,
.invoice-to strong {
    font-size: 16px;
    font-weight: 600
}

.invoice-date {
    text-align: right;
    padding-left: 80px
}

.invoice-price {
    background: #f0f3f4;
    display: table;
    width: 100%
}

.invoice-price .invoice-price-left,
.invoice-price .invoice-price-right {
    display: table-cell;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    width: 75%;
    position: relative;
    vertical-align: middle
}

.invoice-price .invoice-price-left .sub-price {
    display: table-cell;
    vertical-align: middle;
    padding: 0 80px
}

.invoice-price small {
    font-size: 12px;
    font-weight: 400;
    display: block
}

.invoice-price .invoice-price-row {
    display: table;
    float: left
}

.invoice-price .invoice-price-right {
    width: 25%;
    background: #2d353c;
    color: #fff;
    font-size: 28px;
    text-align: right;
    vertical-align: bottom;
    font-weight: 300
}

.invoice-price .invoice-price-right small {
    display: block;
    opacity: .6;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px
}

.invoice-footer {
    border-top: 5px solid #ddd;
    padding-top: 10px;
    font-size: 10px
}

.invoice-note {
    color: #999;
    margin-top: 100px;
    font-size: 85%
}

.invoice>div:not(.invoice-footer) {
    margin-bottom: 20px
}

.btn.btn-white, .btn.btn-white.disabled, .btn.btn-white.disabled:focus, .btn.btn-white.disabled:hover, .btn.btn-white[disabled], .btn.btn-white[disabled]:focus, .btn.btn-white[disabled]:hover {
    color: #3c3c2d;
    background: #fff;
    border-color: #d9dfe3;
}
.el{
    width: fit-content;
    height: fit-content;
    left: 50px;
    top: 10px;
    position: relative;
}
.al{
    width: 50px;
    height: 20px;
    margin-left: 20px;
    position: absolute;
    color: #ddd;
}
.inp{
    width: 60px;
    height: 20px;
    margin-left: 100px;
    margin-top: 20px;
}
.ini{
    width:100%; height:100%; left: 0px; top: 0px;  padding-top: 20px;
}

