/*option section*/

.profile .pilih{
    position: absolute;
    width: 398px;
    height: 660px;
    left: 0px;
    top: 0px;
    background: #94AA71;
}

.profile .logo{
    position: absolute;
    width: 215px;
    height: 235px;
    left: 90px;
    top: 35px;

    mix-blend-mode: multiply;
}

.profile .divider{
    position: absolute;
    width: 398px;
    height: 20px;
    left: 0px;
    top: 140px;

    background: #477350;
}

.profile .option-box1{
    position: absolute;
    width: 338px;
    height: 55px;
    left: 0px;
    top: 200px;
    transition: 0.profile .3s;
    
    background: #94AA71;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    padding-left: 60px;
    padding-top: 15px;
    
    color: #000000;
}

.profile .option-box2{
    position: absolute;
    width: 338px;
    height: 55px;
    left: 0px;
    top: 270px;
    transition: 0.profile .3s;
    
    background: #94AA71;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    padding-left: 60px;
    padding-top: 15px;
    
    color: #000000;
}

.profile .option-box3{
    position: absolute;
    width: 338px;
    height: 55px;
    left: 0px;
    top: 340px;
    transition: 0.profile .3s;
    
    background: #94AA71;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    padding-left: 60px;
    padding-top: 15px;
    
    color: #000000;
}

.profile .option-box1:hover, .profile .option-box2:hover,
.profile .option-box3:hover{
    background-color: #477350;
}

/*content section*/

.profile .top-divider{
    position: absolute;
    width: 100%;
    height: 45px;
    left: 398px;
    top: 0px;

    background: #5B794A;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
    padding-top: 20px;
    padding-left: 500px;
    
    color: #f6fff5;
}

.profile .content-box{
    position: absolute;
    width: 1040px;
    height: 680px;
    left: 440px;
    top: 100px;

    background: #BCC1BC;
    border-radius: 10px;
}

.profile .profile-pic{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 410px;
    top: 30px;
    border-radius: 100%;

    background: #D9D9D9;
}

.profile .profile-nickname{
    position: absolute;
    width: 195px;
    height: 46px;
    left: 450px;
    top: 250px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;
}

.profile .name-box{
    position: absolute;
    width: 517px;
    height: 44px;
    left: 270px;
    top: 350px;

    background: #D9D9D9;
}

.profile .name-area{
    width: 490px;
    height: 44px;
    font-size: 18px;
    background: #D9D9D9;
    padding-left: 20px;
}

.profile .address-box{
    position: absolute;
    width: 517px;
    height: 150px;
    left: 270px;
    top: 450px;

    background: #D9D9D9;
}

.profile .address-area{
    width: 490px;
    height: 150px;
    font-size: 18px;
    background: #D9D9D9;
    padding-left: 20px;
}

/*logout section*/

.profile .logout-button{
    position: absolute;
    width: 338px;
    height: 90px;
    left: 0px;
    top: 660px;

    background: #465F44;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    padding-left: 60px;
    padding-top: 60px;

    color: #000000;
}

.profile .padding {
    padding: 3rem !important
  }
  
  .profile  .user-card-full {
    overflow: hidden;
  }
  
  .profile  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
  }
  
  .profile  .m-r-0 {
    margin-right: 0px;
  }
  
  .profile  .m-l-0 {
    margin-left: 0px;
  }
  
  .profile  .user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
  }
  
  .profile  .bg-c-lite-green {
        background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
  }
  
  .profile .user-profile {
    padding: 20px 0;
  }
  
  .profile .card-block {
    padding: 1.25rem;
  }
  
  .profile .m-b-25 {
    margin-bottom: 25px;
  }
  
  .profile .img-radius {
    border-radius: 5px;
  }
  
  .profile .h6 {
    font-size: 14px;
  }
  
  .profile .card .card-block p {
    line-height: 25px;
  }
  
  @media only screen and (min-width: 1400px){
  p {
    font-size: 14px;
  }
  }
  
  .profile .card-block {
    padding: 1.25rem;
  }
  
  .profile .b-b-default {
    border-bottom: 1px solid #e0e0e0;
  }
  
  .profile .m-b-20 {
    margin-bottom: 20px;
  }
  
  .profile .p-b-5 {
    padding-bottom: 5px !important;
  }
  
  .profile .card .card-block p {
    line-height: 25px;
  }
  
  .profile .m-b-10 {
    margin-bottom: 10px;
  }
  
  .profile .text-muted {
    color: #919aa3 !important;
  }
  
  .profile .b-b-default {
    border-bottom: 1px solid #e0e0e0;
  }
  
  .profile .f-w-600 {
    font-weight: 600;
  }
  
  .profile .m-b-20 {
    margin-bottom: 20px;
  }
  
  .profile .m-t-40 {
    margin-top: 20px;
  }
  
  .profile .p-b-5 {
    padding-bottom: 5px !important;
  }
  
  .profile .m-b-10 {
    margin-bottom: 10px;
  }
  
  .profile .m-t-40 {
    margin-top: 20px;
  }
  
  .profile .user-card-full .social-link li {
    display: inline-block;
  }
  
  .profile  .user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  @mixin object-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  $circleSize: 165px;
  $radius: 100px;
  $shadow: 0 0 10px 0 rgba(255,255,255,.35);
  $fontColor: rgb(250,250,250);
  
  .profile-pic {
    color: transparent;
    transition: all .3s ease;
    @include object-center;
    position: relative;
    transition: all .3s ease;
    
    input {
      display: none;
    }
    
    img {
      position: absolute;
      object-fit: cover;
      width: $circleSize;
      height: $circleSize;
      box-shadow: $shadow;
      border-radius: $radius;
      z-index: 0;
    }
    
    .-label {
      cursor: pointer;
      height: $circleSize;
      width: $circleSize;
    }
    
    &:hover {
      .-label {
        @include object-center;
        background-color: rgba(0,0,0,.8);
        z-index: 10000;
        color: $fontColor;
        transition: background-color .2s ease-in-out;
        border-radius: $radius;
        margin-bottom: 0;
      }
    }
    
    span {
      display: inline-flex;
      padding: .2em;
      height: 2em;
    }
  }
  
  /////////////////////////
  // Body styling 🐾
  /////////---------->
  
  body {
    height: 100vh;
    background-color: rgb(25, 24, 21);
    @include object-center;
    
    a:hover {
      text-decoration: none;
    }
  }
  
  
  