.Loading{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    transition: opacity 1.75s, visibility 1.75s;
    z-index: 9999;
}
.Loading-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.Loading-hidden{
    opacity: 0;
    visibility: hidden;
}

.spinner{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 99999;
}

.spinner-hidden{
    opacity: 0;
    visibility: hidden;
}

.spinner::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #bec2c0;
    border-top-color: #077a20;
    border-radius: 50%;
    animation: loading 5s ease infinite;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

.pagination {
display: inline-block;
}

.pagination a {
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
}
