@font-face {
  font-family: "Muli-Regular";
  src: url("../fonts/muli/Muli-Regular.ttf"); }
@font-face {
  font-family: "Muli-SemiBold";
  src: url("../fonts/muli/Muli-SemiBold.ttf"); }
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/poppins/Poppins-Regular.ttf"); }
@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/poppins/Poppins-Medium.ttf"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Poppins-Regular";
  font-size: 13px;
  margin: auto;
  color: #999; 
  height: 1200px;
  background-size: cover;
}

input, textarea, select {
  font-family: "Muli-Regular";
  font-size: 13px;
  color: #666; }

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }

img {
  max-width: 100%; }

ul {
  padding-left: 0;
  margin-bottom: 0; }

a {
  text-decoration: none; }

:focus {
  outline: none; }

.wrapper {
    min-height: 100vh;
    /* position: relative; */
    background: url=("{{asset('assets/zoo') }}/assets/img/aboutt.png");
    background-size: contain;
    background-repeat: no-repeat; 
}

.inner {
  position: absolute;
  top: 100%;
  left: 10.07%;
  margin-bottom: auto;
  transform: translateY(-50%);
  width: 1000px;
  border-radius: 40px;
 
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  background: url("../images/bg-inner.png") repeat;
  padding: 7px; }

form {
  width: 100%;
  padding: 60px 70px 80px;
  background: #f7f8f5; 
  border-radius: 40px
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer; }

h3 {
  text-transform: uppercase;
  font-size: 35px;
  font-family: "Poppins-bold";
  color: #034615;
  letter-spacing: 3px;
  margin-bottom: 22px;
  font-weight: 500; }

.form-row {
  display: flex;
  margin-bottom: 25px; }
  .form-row.last {
    margin-bottom: 22px; }
  .form-row .form-wrapper {
    width: 50%; }
    .form-row .form-wrapper:first-child {
      margin-right: 25px; }

.form-wrapper {
  position: relative; }
  .form-wrapper label {
    display: block;
    font-family: "Muli-SemiBold";
    font-size: 17px;
    color: #4c4c4c;
    margin-bottom: 8px; }
  .form-wrapper i.zmdi-chevron-down {
    position: absolute;
    right: 16px;
    top: 42px;
    font-size: 15px;
    color: #666; }
  .form-wrapper span.lnr-calendar-full {
    position: absolute;
    left: 16px;
    font-size: 15px;
    color: #666;
    top: 43px; }

.form-control {
  border: 1px solid #e6e6e6;
  display: block;
  width: 100%;
  height: 42px;
  padding: 0 14px; }
  .form-control.datepicker-here {
    padding-left: 39px; }

.checkbox {
  position: relative;
  padding-left: 22px; }
  .checkbox label {
    cursor: pointer; }
  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .checkbox input:checked ~ .checkmark:after {
    display: block; }

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 12px;
  width: 13px;
  border-radius: 2px;
  background-color: #ebebeb;
  border: 1px solid #ccc;
  font-family: Material-Design-Iconic-Font;
  font-size: 10px;
  font-weight: bolder; }
  .checkmark:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    content: '\f26b';
    color: #333; }

button {
  border: none;
  width: 173px;
  height: 42px;
  margin-top: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #01440d;
  color: #fff;
  text-transform: uppercase;
  font-family: "Muli-SemiBold";
  font-size: 15px;
  position: relative;
  transition: all 0.3s ease; }
  button span {
    letter-spacing: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  button:after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0;
    opacity: 0;
    letter-spacing: 3px;
    -webkit-transform: translate(-30%, -25%);
    transform: translate(-30%, -25%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  button:hover {
    background: #c59a01; }
    button:hover span {
      opacity: 0;
      -webkit-transform: translate(0px, 40px);
      transform: translate(0px, 40px); }
    button:hover:after {
      opacity: 1;
      -webkit-transform: translate(0, -25%);
      transform: translate(0, -25%); }

@media (max-width: 1199px) {
  .wrapper {
    background-position: center center; } }
@media (max-width: 991px) {
  .inner {
    width: 60%; } }
@media (max-width: 767px) {
  .inner {
    width: 100%;
    transform: translateY(0);
    position: static;
    padding: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none; }

  .wrapper {
    background: none;
    display: block; 
    border-radius: 40px;
  }

  form {
    padding: 30px 20px; }

  .form-row {
    display: block; }
    .form-row .form-wrapper {
      width: 100%;
      margin-bottom: 25px; }
      .form-row .form-wrapper:first-child {
        margin-right: 0; } }

/*# sourceMappingURL=style.css.map */

.black{
  color :#333;
  font-size: 20px;
}